node_modules/
/.env
/.env.local
/.cache/
/.DS_Store
npm-debug.log*
yarn-error.log*
package-lock.json
messages/
.vscode/
dist/
coverage/
*.log
Thumbs.db
__pycache__/.vercel

# Local Netlify folder
.netlify
